<!-- <p>{{'home.description'|translate:({name:'ali'})}}</p>
<button class="btn btn-success" (click)="changeLanguage()">Dil değiştir</button> -->

<header>
  <nav class="header__navegation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </nav>

  <div class="header__content">
    <h1>Lorem ipsum dolor sit.</h1>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <a class="btn" href="http://localhost:4200/admin">Login to Admin</a>
  </div>
</header>

<main class="main"></main>
